<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <description><%= description %></description>
    <meta name="title" content="<%= title %>" />
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="<%= author.name %>" />

    <style>
      #app,
      html,
      body {
        height: 100%;
        position: relative;
        margin: 0;
        background-color: #ddd;
        font-family: Lato, Avenir Next, Helvetica Neue, sans-serif;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <noscript>
      <div
        style="height:100%;display:flex;justify-content:center;align-items:center;color:white;overflow:hidden"
      >
        Your browser does not support JavaScript!
      </div>
    </noscript>
    <div id="app"></div>
  </body>
</html>
